.container {
    position: fixed;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    z-index: 1;
    display: flex;
    gap: 5px;
    
    &__stage {
        width: 80px;
        height: 3.5px;
        background-color: rgb(188, 188, 188);
        border-radius: 10px;
    }
}