@use '../../../../helper/scss/variables';

.facts {
  &__list {
    list-style-position: inside;
    list-style-type: decimal;
    font-size: variables.$text-base;
    background-color: variables.$color-lime-300;
    padding: 13px 14px;
    border-radius: variables.$rounded-base;

    &__item {
      margin-bottom: 6px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &--headline {
    font-size: variables.$text-lg;
    margin-bottom: 10px;
    font-weight: 700;
  }
}