@use '../../../../helper/scss/font-sizes';
@use '../../../../helper/scss/colors';
@use '../../../../helper/scss/sizing';

.facts {
  &__list {
    list-style-position: inside;
    list-style-type: decimal;
    font-size: font-sizes.$text-base;
    background-color: colors.$color-lime-300;
    padding: 13px 14px;
    border-radius: sizing.$rounded-base;

    &__item {
      margin-bottom: 6px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &--headline {
    font-size: font-sizes.$text-lg;
    margin-bottom: 10px;
    font-weight: 700;
  }
}