/* rounded corners */
$rounded-base: 15px;

/* font sizes */
$text-sm: 0.85rem;
$text-base: 1.15rem;
$text-lg: 1.4rem;
$text-xl: 1.8rem;

/* colors */
$color-primary: #6a7852;
$color-secondary: #eaffc6;
$color-breath: #F4F4F4;
$color-obscure: #808080;
