@use '../../../../utils/scss/variables';

.donation {
    &__list {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));

    }
    &__box {
        background-color: #f9f1f1;
        border-radius: variables.$rounded-base;
        padding: 15px;
        margin-bottom: 10px;

        h3 {
            font-size: variables.$text-base;
            font-weight: 700;
            margin-bottom: 10px;
        }

    }
    &--headline {
        font-size: variables.$text-lg;
        margin-bottom: 10px;
        font-weight: 700;
    }
}