@use '../../../../utils/scss/variables';

.stats {
  &__list {
    font-size: variables.$text-base;
    background-color: variables.$color-secondary;
    padding: 13px 14px;
    border-radius: variables.$rounded-base;
    flex-direction: column;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));

    &__item {
      display: flex;
      gap: 6px;
      flex-direction: column;
      margin-bottom: 6px;
      text-align: center;
      align-items: center;
      &:last-child {
        margin-bottom: 0;
      }
      &__value {
        background-color: variables.$color-primary;
        color: #fff;
        padding: 5px 14px;
        border-radius:20px;
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        word-spacing: 100vw;

      }
    }
  }
  &--headline {
    font-size: variables.$text-lg;
    margin-bottom: 10px;
    font-weight: 700;
  }
}