@use '../../../../utils/scss/variables';

$list-decimal-size: 35px;

.list {
  font-size: variables.$text-base;
  background-color: variables.$color-secondary;
  padding: 13px 14px;
  border-radius: variables.$rounded-base;

  &__item {
    margin-bottom: 6px;
    display: flex;
    &:last-child {
      margin-bottom: 0;
    }
    &--listDecimal {
      font-weight: 700;
      margin-right: 9px;
      background-color: variables.$color-primary;
      color: #fff;
      aspect-ratio: 1/1;
      width: $list-decimal-size;
      height: $list-decimal-size;
      border-radius: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.headline {
  font-size: variables.$text-lg;
  margin-bottom: 10px;
  font-weight: 700;
}

