@use '../../../../helper/scss/variables';

.stats {
  &__list {
    font-size: variables.$text-base;
    background-color: variables.$color-lime-300;
    padding: 13px 14px;
    border-radius: variables.$rounded-base;
    display: flex;
    flex-direction: column;
    gap: 8px;

    &__item {
      display: inline-block;
      margin-bottom: 6px;
      &:last-child {
        margin-bottom: 0;
      }
      &__value {
        background-color: red;
        padding: 5px 10px;
        border-radius: 100px;
      }
    }
  }
  &--headline {
    font-size: variables.$text-lg;
    margin-bottom: 10px;
    font-weight: 700;
  }
}