/* rounded corners */
$rounded-base: 15px;

/* font sizes */
$text-sm: 0.85rem;
$text-base: 1.15rem;
$text-lg: 1.4rem;
$text-xl: 1.8rem;

/* colors */
$color-lime-300: #eaffc6;
$color-gray-300: #F4F4F4;