  body,
  html,
  #root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #242424;
    font-family: Roboto;
  }

  /* CSS Reset */

  html, body,
  h1, h2, h3, h4, h5, h6,
  p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }

  /* Remove list-style for list items */
  ol, ul {
    list-style: none;
  }

  /* Reset anchor element styles */
  a {
    text-decoration: none;
    color: inherit;
  }

  /* Reset blockquote and q element styles */
  blockquote, q {
    quotes: none;
  }

  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }

  /* Reset table element styles */
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  /* Reset form input element styles */
  input, select, textarea, button {
    margin: 0;
    font: inherit;
    appearance: none;
    border-radius: 0;
  }

  /* Reset image element styles */
  img {
    max-width: 100%;
    height: auto;
    border-style: none;
  }

  /* Reset the `strong` element styles */
  strong {
    font-weight: bold;
  }

  /* Reset the `em` element styles */
  em {
    font-style: italic;
  }

  button {
    appearance: none;
    -webkit-appearance: none; /* for Safari */
    -moz-appearance: none; /* for Firefox */
    border: none;
    background-color: transparent; /* or set your own background color */
    padding: 0; /* or set your own padding */
    margin: 0; /* or set your own margin */
    cursor: pointer;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }

  /* Fonts Roboto   */
  @font-face {
    font-family: "Roboto";
    src: url("/fonts/woof2/Roboto-Regular.woff2") format("woff2");
    font-weight: 400;
  }

  @font-face {
    font-family: "Roboto";
    src: url("/fonts/woof2/Roboto-Bold.woff2") format("woff2");
    font-weight: 700;
  }

  @font-face {
    font-family: "Roboto";
    src: url("/fonts/woof2/Roboto-Thin.woff2") format("woff2");
    font-weight: 100;
  }

